<div class="container">
    <nav>
        <ul>
            <li *ngIf="!authService.isLoggedIn()">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="authService.isLoggedIn()">
                <a routerLink="/customers">Customer List</a>
            </li>
            <li *ngIf="authService.isLoggedIn()">
                <a routerLink="/add-customer">Add Customer</a>
            </li>
            <li *ngIf="authService.isLoggedIn()">
                <button (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>